.planSection {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: center;
}

.tourSection {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.tourCard__header {
    margin-top: 0px;
    margin-bottom: 5px;
}

.tourCard{
    margin-top: 10px;
}

.infoWindowHeader{
    animation-name: blackWhite;  
    animation-iteration-count: infinite;  
    animation-duration: 2s; 
}

@keyframes blackWhite {  
    0% { color: red; }
    15% { color: orange; }
    30% { color: yellow; }
    45% { color: green; }
    60% { color: blue; }
    75% { color: indigo; }
    90% { color: violet; }
    100% { color: reg; }
  }

  .mapSection{
      border: 1px solid black;
  }

  .tourButtonSection {
      display: flex;
      flex-direction: row;
  }