
.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerError {
    color: red;
}

.registerFieldset {
    border: none;
}

.registerUserContainer {
    display: flex;
    flex-direction: column;
}

.registerEmailContainer {
    display: flex;
    flex-direction: column;
}

.registerPassContainer{ 
    display: flex;
    flex-direction: column;
}

.confirmPassContainer{
    display: flex;
    flex-direction: column;
}

.selectTypeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form--login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fieldset--login{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    align-content: left;
}